@import "tailwindcss";

@theme {
  --font-mono: "JetBrains Mono", monospace;
  
  /* Variabel dasar (Default ke Dark) */
  --color-tech-bg: #0F172A;         
  --color-tech-text: #F1F5F9;       
  --color-tech-border: #1E293B;     
  --color-tech-card: #1E293B;       
  --color-tech-primary: #3B82F6;    /* Biru Elektrik */
  --color-tech-secondary: #A855F7;  /* Ungu Neon */
}

/* Logika Mode Terang (Nordic Soft) */
.light {
  --color-tech-bg: #F2EFE9;         
  --color-tech-text: #334155;       
  --color-tech-border: #D1D5DB;     
  --color-tech-card: #E5E7EB;       
  --color-tech-primary: #1E40AF;    /* Biru Navy */
  --color-tech-secondary: #6D28D9;  /* Ungu Deep */
}

:root {
  background: var(--color-tech-bg);
  color: var(--color-tech-text);
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}